/* MIXING Icon colors and placement */
@mixin iconPlacement($icon) {
  content: $icon;
  display: block;
  font-family: FontAwesome;
  float: left;
  margin: 0 6px 0 0;
  color: $jlOrange;
}

/* MIXING Odd & Even colours links */
@mixin OddEvenLinksColours() {

  display: inline-block;
  border: 1px solid $jlBorderGrey;
  padding: 2px 2px 2px 2px;
  border-radius: 4px;
  text-align: left;
  margin: 3px 3px 3px 3px;

  &:nth-of-type(even) {
    background: $jlBlue;
    color: $jlLightGrey;
    a {
      color: $jlLightGrey;
      &:hover,&:active {
        color: $jlOrange;
      }
    }
  }

  &:nth-of-type(odd) {
    background: $jlLightGrey;
    color: $jlBlue;
  }
}

/* Drupal in footer section */
.funciona-drupal-jl {
  display: inline-block;
  padding: 2px 2px 2px 2px;
  border-radius: 4px;
  text-align: center;
  margin: 3px 3px 3px 3px;
  color: $jlBlue;
  &:before {
    @include iconPlacement($drupal-icon);
  }
}

#block-socialmedialinks {
  padding: 5px;
  margin: 0 auto;
  max-width: 1170px;
  text-align: center;
}

.footerGroup-jl {
  margin: 0 auto;
  max-width: 1170px;
  text-align: center;
}

.footer-jl {
  display: inline-block;
  padding: 2px 2px 2px 2px;
  border-radius: 4px;
  text-align: center;
  margin: 3px 3px 3px 3px;
  color: $jlBlue;
}

#block-juanonlabfooter {
  display: inline;
  padding: 2px 2px 2px 2px;
}
/* Comment icon and section */
article[role="article"] > div[class="content"] > section h2::before {
  @include iconPlacement($comment-icon);
}

/* Sobremi icon and section */
.sobremi-texto-jl {
  padding: 10px 10px 10px 10px;
}

.sobremi-texto-foto-jl {
  color: $jlBlue;
  background: $jlLightGrey;
  border: 1px solid $jlBorderGrey;
  padding: 2px 2px 2px 2px;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px 10px 3px $jlShadowGrey; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 10px 3px $jlShadowGrey; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 10px 3px $jlShadowGrey; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.sobremi-jl {
  h2 {
    padding: 5px 5px 5px 5px;
    text-align: left;
    color: $jlBlue;
    &:after {
      @include iconPlacement($user-icon);
    }
  }
}

.sobremi-foto-jl {
  padding-top: 10px;
  > img {
    border-radius: 50%;
  }
}

/* Contacta icon and section */
.contacta-jl {
  h2 {
    text-align: left;
    color: $jlBlue;
    &:after {
      @include iconPlacement($envelope-icon);
    }
  }
}

/* ?? Hay 2 tags y etiquetas diferenciar */
#block-views-block-tags-block-1 {
  h2 {
    padding: 5px 5px 5px 5px;
    text-align: left;
    color: $jlBlue;
    &:after {
      @include iconPlacement($tags-icon);
    }
  }
}

.field--name-field-tags {
  > .field--item {
    border: 1px solid $jlBorderGrey;
    display: inline;
    padding: 5px 5px 5px 5px;
  }

  &:before {
    @include iconPlacement($tags-icon);
  }
}

.etiqueta-jl {
  padding: 5px 0px 5px 20px;
  &:before {
    @include iconPlacement($tags-icon);
  }
}

/* Creado el icon */
.creado-el-jl {
  padding: 5px 0px 5px 20px;
  color: $jlBlue;
  &:before {
    @include iconPlacement($calendar-icon);
  }
}

/* Tags icon section */
.tags-jl {
  @include OddEvenLinksColours();
}

/* Categoria icon section */
.field--name-field-categoria {
  padding: 5px 5px 5px 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  &:before {
    @include iconPlacement($bookmark-icon);
  }
}

/* Archivo icon section */
#block-views-block-archive-block-1 h2 {
  padding: 5px 5px 5px 5px;
  text-align: left;
  color: $jlBlue;
  &:after {
    @include iconPlacement($folder-open-icon);
  }
}

/* Odd Even links (Archivo) */
.view-id-archive .view-content ul {
  padding-left: 0em;
  li {
    @include OddEvenLinksColours();
  }
}
