ul.sf-menu a, ul.sf-menu span.nolink{
    display: inline-block;
    padding: 0.4em;
    position: relative;
    font-size: 1em;
    margin-top: 40px;
    border-radius: 4px;
    border: 1px solid #f8f8f8;
  }
  
  ul.sf-menu a:hover, 
  ul.sf-menu a:active {
    border: 1px solid $jlBlue;
    border-radius: 4px;
    text-decoration: none;
    background: $jlBlue;
    color: #f8f8f8;
  }
  
  @media only screen and (max-width: 768px) {
    ul.sf-menu a, ul.sf-menu span.nolink{
      margin-top: 0px;
    }
  }
  
  #superfish-juanonlab-menu-toggle span {
    font-size: 1.2em;
    color: $jlBlue;
  }
  
  #superfish-juanonlab-menu-toggle span:after {
    content: "\f103";
    display: contents;
    font-family: FontAwesome;
    font-weight: bold;
    float: right;
    margin: 0 0px 0 10px;
    color: $jlOrange;
  }
  
  @media (min-width: 768px) {
    .navbar-default {
      -webkit-box-shadow: 0px 3px 10px 3px $jlShadowGrey;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
      -moz-box-shadow:    0px 3px 10px 3px $jlShadowGrey;  /* Firefox 3.5 - 3.6 */
      box-shadow:         0px 3px 10px 3px $jlShadowGrey;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    }
  }
  
  @media (max-width: 1000px) {
    ul.sf-menu a, ul.sf-menu span.nolink{
      margin-top: 5px;
    }
  }
  
    .navbar-default {
      -webkit-box-shadow: 0px 3px 10px 3px $jlShadowGrey;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
      -moz-box-shadow:    0px 3px 10px 3px $jlShadowGrey;  /* Firefox 3.5 - 3.6 */
      box-shadow:         0px 3px 10px 3px $jlShadowGrey;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    }
  
  
  /* Top margin */
  body.navbar-is-fixed-top {
    margin-top: 95px;
  }

  @media (min-width: 768px) {
    img[alt=Inicio]:hover {
      animation: spinLogo 1.5s ease-out; // spin infinite linear
    }
    @keyframes spinLogo {
      from {transform: rotateY(0deg);}
      to {transform: rotateY(360deg);}
    }
  }