/* Custom juanonlab css */
.col, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6 {
  padding-top: 10px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 30px;
} 

.views-field-title {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.views-field-field-resumen{
  padding-left: 20px;
  padding-right: 20px;
}

.pd-5-jl {
  padding: 5px 5px 5px 5px;
}

.pd-10-jl {
  padding: 10px 10px 10px 10px;
}

.pd-15-jl {
  padding: 15px 15px 15px 15px;
}

.img-responsive {
  margin-left: auto;
  margin-right: auto;
}

.author{
  padding-bottom: 10px;
}

.etiqueta-jl:before, .field--name-field-tags:before  {
  content: "\f02c";
  display: block;
  font-family: FontAwesome;
  float: left;
  margin: 0 6px 0 0;
}

.etiqueta-jl {
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 5px;
}

.field--name-field-tags>.field--item {
  border: 1px solid #E5E5E5;
  display: inline;
  padding: 5px 5px 5px 5px;
}

.creado-el-jl:before {
  content: "\f073";
  display: block;
  font-family: FontAwesome;
  float: left;
  margin: 0 6px 0 0;
}

.field--name-field-categoria:before {
  content: "\f02e";
  display: block;
  font-family: FontAwesome;
  float: left;
  margin: 0 6px 0 0;
}

.field--name-field-categoria {
  padding: 5px 5px 5px 5px;
  margin-top: 10px;
}

.creado-el-jl { 
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 5px;
}
    
html, input {
  font-family: $playfair; 
  -webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%;
}
  
body {
  font-family: $playfair;
}

.justify-jl {
  text-align: justify;
}

.block-navegacionprincipal > a {
  background-color: #E5E5E5;
}

.region-sidebar-second {
  padding: 5px 5px 5px 5px;
}

.sobremi-texto-jl {
  padding: 10px 10px 10px 10px;

}

.sobremi-texto-foto-jl {
 color: #337ab7;
 background: #f2f2f2;
 border: 1px solid #E5E5E5;
 padding: 2px 2px 2px 2px;
 border-radius: 4px;
}

.sobremi-jl H2 {
  padding: 5px 5px 5px 5px;
  text-align: left;
  color: #337ab7;
}

.sobremi-jl H2::after {
  content: "\f007";
  display: block;
  font-family: FontAwesome;
  float: left;
  margin: 0 5px 0 6px;
  color: #337ab7;
}

.sobremi-foto-jl {
  padding-top: 10px;
}

#block-views-block-archive-block-1 H2 {
  padding: 5px 5px 5px 5px;
  text-align: left;
  color: #337ab7;
}

#block-views-block-archive-block-1 H2::after {
  content: "\f07c";
  display: block;
  font-family: FontAwesome;
  float: left;
  margin: 0 0 0 6px;
}

.view-id-archive .view-content ul li {
  background: #337ab7;
  color: #f2f2f2;
  display: inline-block;
  border: 1px solid #E5E5E5;
  padding: 2px 2px 2px 2px;
  border-radius: 4px;
  text-align: left;
  margin: 3px 3px 3px 3px;
}

.view-id-archive .view-content ul li:nth-of-type(odd) {
  background: #f2f2f2;
  color: #337ab7;
}

.view-id-archive .view-content ul li a:nth-of-type(odd) a {
  color: #337ab7;
}

.view-id-archive .view-content ul li:nth-of-type(even) {
  background: #337ab7;
  color: #f2f2f2;
}

.view-id-archive .view-content ul li:nth-of-type(even) a {
  color: #f2f2f2;
}

.view-id-archive .view-content ul {
  padding-left: 0em;
}

#block-views-block-tags-block-1 H2 {
  padding: 5px 5px 5px 5px;
  text-align: left;
  color: #337ab7;
}

#block-views-block-tags-block-1 H2::after {
  content: "\f02c";
  display: block;
  font-family: FontAwesome;
  float: left;
  margin: 0 0 0 6px;
}

body {
font-size: 16px;
}

.tags-jl {
  display: inline-block;
  border: 1px solid #E5E5E5;
  padding: 2px 2px 2px 2px;
  border-radius: 4px;
  text-align: left;
  margin: 3px 3px 3px 3px;
}

.tags-jl:nth-of-type(even) {
  background: #337ab7;
  color: #f2f2f2;
}

.tags-jl:nth-of-type(odd) {
  background: #f2f2f2;
  color: #337ab7;
}

.tags-jl:nth-of-type(even) a {
  color: #f2f2f2;
}

ul.sf-menu a, ul.sf-menu span.nolink{
  display: inline-block;
  padding: 0.6em 0.6em 0.6em 0.6em;
  position: relative;
  font-size: 1.2em;
  margin-top: 35px;
  border-radius: 4px;
  border: 1px solid #f8f8f8;
}

ul.sf-menu a:hover {
  border: 1px solid #337ab7;
  border-radius: 4px;
  text-decoration: none;
  background: #337ab7;
  color: #f8f8f8;
}
ul.sf-menu a:active {
  border: 1px solid #337ab7;
  border-radius: 4px;
  text-decoration: none;
  background: #337ab7;
  color: #f8f8f8;
}

.well {
  padding: 5px;
}

@media only screen and (max-width: 768px) {
  ul.sf-menu a, ul.sf-menu span.nolink{
    margin-top: 0px;
  }
}

#superfish-juanonlab-menu-toggle {
  font-size: 1.2em;
  color: #337ab7;
}

@media (min-width: 768px) {
  .navbar-default {
    -webkit-box-shadow: 0px 3px 10px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 3px 10px 3px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 3px 10px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }
}

  .navbar-default {
    -webkit-box-shadow: 0px 3px 10px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 3px 10px 3px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 3px 10px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }


/* Top margin */
body.navbar-is-fixed-top {
  margin-top: 85px;
}

div[about] {
  font-size: 1.8em;
  color: #337ab7;
}


.feed-icons{
  display: none;
}

#block-socialmedialinks {
  padding: 5px;
  margin: 0 auto;
  max-width: 1170px;
  text-align:center;
}

.footerGroup-jl {
  margin: 0 auto;
  max-width: 1170px;
  text-align:center;
}

.footer-jl {
  display: inline-block;  
  padding: 2px 2px 2px 2px;
  border-radius: 4px;
  text-align: center;
  margin: 3px 3px 3px 3px;
  color: #337ab7;
}

#block-acercade>.block-title {
  padding: 5px 5px 5px 5px;
}

#block-juanonlabfooter {
  display: inline;
  padding: 2px 2px 2px 2px;
}

.funciona-drupal-jl{
  display: inline-block;  
  padding: 2px 2px 2px 2px;
  border-radius: 4px;
  text-align: center;
  margin: 3px 3px 3px 3px;
  color: #337ab7;
}

.funciona-drupal-jl::before {
  content: "\f1a9";
  display: block;
  font-family: FontAwesome;
  float: left;
  margin: 0 6px 0 0;
}


pre {
  color:#ece5e8;
  background-color:#272123;
}

code {
  color:#ece5e8;
  background-color:#272123;
  padding: 10px 5px 10px 5px;
}

.img-rounded {
  border: 1px solid #E5E5E5;
}