// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";



ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
  border-bottom: 0px !important;
  padding-bottom: 0px !important;
}

// Footer.
.footer {
  /* margin-top: 45px; */
  padding-top: 25px;
  /* padding-bottom: 36px; */
 /* border-top: 1px solid #E5E5E5; */
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

/* Custom juanonlab css */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Montserrat');

.col, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6 {
  padding-top: 10px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 30px;
} 

.views-field-title {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.views-field-field-resumen{
  padding-left: 20px;
  padding-right: 20px;
}

/*
.views-field-created{
  padding-left: 20px;
}
*/

.img-responsive {
  margin-left: auto;
  margin-right: auto;
}

.author{
  padding-bottom: 10px;
}


.etiqueta-jl:before, .field--name-field-tags:before  {
  content: "";
  display: block;
  background: url("../images/Tag_fa_mini.png") no-repeat;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 6px 0 0;
}

.etiqueta-jl {
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 5px;
}


.field--name-field-tags>.field--item {
  border: 1px solid #E5E5E5;
  display: inline;
  padding: 5px 5px 5px 5px;
}

.creado-el-jl:before {
  content: "";
  display: block;
  background: url("../images/calendar.png") no-repeat;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 6px 0 0;
}

.field--name-field-categoria:before {
  content: "";
  display: block;
  background: url("../images/bookmark.png") no-repeat;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 6px 0 0;
}

.field--name-field-categoria {
  /* border: 1px solid #E5E5E5; */
  /*display: inline;*/
  padding: 5px 5px 5px 5px;
  margin-top: 10px;
}

.creado-el-jl { 
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 5px;
}
    
html, input {
  font-family: 'Playfair Display', serif; 
  -webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%;
}
  
body {
  font-family: 'Playfair Display', serif;
}

.justify-jl {
  text-align: justify;
}


.block-navegacionprincipal > a {
  background-color: #E5E5E5;
}

.region-sidebar-second {
  padding: 5px 5px 5px 5px;
}

.sobremi-texto-jl {
  padding: 10px 10px 10px 10px;
}

.sobremi-foto-jl {
  padding-top: 10px;
}

#block-acercade {
   border: 1px solid #E5E5E5;
   border-radius: 4px;
}

#block-acercade>.block-title {
  padding: 5px 5px 5px 5px;
}

#block-juanonlabfooter {
  display: inline;
  padding: 2px 2px 2px 2px;
}

.funciona-drupal-jl, .copyright-jl {
  display: inline;
}

.funciona-drupal-jl::before {
  content: "";
  display: block;
  background: url("../images/drupal.png") no-repeat;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 6px 0 0;
}

.fa-license-jl {
  padding: 5px 0px 0px 0px;
}

.fa-license-jl::before {
  content: "";
  display: block;
  background: url("../images/font-awesome-logo-full.png") no-repeat;
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 6px 0 0;
}

.pd-5-jl {
  padding: 5px 5px 5px 5px;
}

